
body{
    background-image: url(image/resto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Pinyon Script', cursive;
    margin: 0 0;
}



h2{
    text-align: center;       
}

h1{
    margin-left: 455px;
    position: absolute;
    top: 43%;
    bottom: 57%;
    transform: translate(-50% -50%);
    color: white;
    background-color: black

}

header{
    display: block;
    position: relative;
    text-align: center;   
}

.enseigne{
    
    width: 100vw;  
    height: 80vh;
    object-fit: cover; 
    margin: 0 0; 
    display: inline-block;
    overflow: hidden;
    padding-bottom:10px;
    border: 3px solid #A0A0A0; 
    color: white;
    background: black;
}
ul{
    list-style-type: none;
}

.ul1{    
    font-size: 20px;
}
li{
    margin-top: 5Opx;
    line-height: 1.5em;
}

.heure1{
    text-decoration: underline;
    font-weight: 600;
    font-size: x-large;
    line-height: 1em;
}

div#colonne1{
    margin-top: 1em;
    float: left;
    width: 20%;
    height: 600px;
    background: rgba(222, 184, 135, 0.6);
    border-radius: 15px;
    font-weight: 500;
    fo
}

div#colonne2{
    margin-top: 0.9em;
    float: right;
    width: 30%;
    height: 600px;
    background: rgba(222, 184, 135, 0.6);
    text-align: center;
    border-radius: 15px;
    font-weight: 500; 
}
div#centre{ 
    margin-top: 1.6em;
    margin-left: 25%;margin-right: 500px; 
    width: 40%;
    height: 800px;
    background: rgba(222, 184, 135, 0.6);
    text-align: left;
    border-radius: 15px;
    font-size: 1.2em;
    font-weight: 500;
}
.titre{
    padding-top: 20px;
    text-decoration: underline;
}

.img_flot{
    float: left;
    
}

.desssous{
    clear: both;
    }
p[class="dessous"]{
    margin-top: -1em;
}

.jour{
    font-weight: bold;
    text-decoration: underline;
    
}
footer{
    background: rgba(222,184,135, 0.6);
    
    border-radius: 10px;
    margin-bottom: 0px;
    border-radius: 15px;
    font-weight: 500;   
}
#logo{
    float: left;
    text-align: center;
    text-decoration: underline;
    font-size: large;
    padding-top: 35px;
    padding-left: 30px;
}
.margelogo{
    padding-left: 30px;
}
.map{
    text-align: right;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}