
body{
    background-image: url(image/resto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
}



h1,h2{
    text-align: center;       
}

header{
 background-image : url('image/img_1.jpgr');text-align: center; 
  position:relative;z-index:1000;
}
ul{
    list-style-type: none;
}

.ul1{    
    font-size: 20px;
}
li{
    margin-top: 5Opx;
    line-height: 1.5em;
}

.heure1{
    text-decoration: underline;
    font-weight: 600;
    font-size: x-large;
    line-height: 1em;
}

div#colonne1{
    margin-top: 1em;
    float: left;
    width: 20%;
    height: 600px;
    background: rgba(222, 184, 135, 0.6);
    
    border-radius: 15px;
    font-weight: 500;
}

div#colonne2{
    margin-top: 1em;
    float: right;
    width: 30%;
    height: 600px;
    background: rgba(222, 184, 135, 0.6);
    text-align: center;
    border-radius: 15px;
    font-weight: 500; 
}
div#centre{ 
    margin-top: 1.5em;
    margin-left: 25%;margin-right: 500px; 
    width: 40%;
    height: 800px;
    background: rgba(222, 184, 135, 0.6);
    text-align: left;
    border-radius: 15px;
    font-size: 1.2em;
    font-weight: 500;
}
.titre{
    padding-top: 20px;
    text-decoration: underline;
}

.img_flot{
    float: left;
    
}

.desssous{
    clear: both;
    }
p[class="dessous"]{
    margin-top: -1em;
}

.jour{
    font-weight: bold;
    text-decoration: underline;
    
}
footer{
    background: rgba(222,184,135, 0.6);
    
    border-radius: 10px;
    margin-bottom: 0px;
    border-radius: 15px;
    font-weight: 500;   
}

#logo{     /* reste lres logos à metre en place*/
    
}
.map{
    text-align: right;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
