body{
    background-image: url(image/background-tile.png) ;
    font-family: 'Pinyon Script', cursive;
    font-size: large;
    font-size: 1em;
    font-weight: 600;
    width: 1150px;    
}
#bloc_page{
    width: 1150px;
    font-weight: 600;
    font-size: 1.2em;
}


.img{
    width: 80%;
    height: auto;
    margin-left: 10vw;
}
h2{
    text-align: center;
    text-decoration: underline;
    font-size: 1.2em;
}
h1{ 
    position: relative;
    margin-bottom: -100px;
    margin-left:450px;
    background-color: black;
    display: inline-block;
    padding: 10px 20px 50px 10px;
    font-size: x-large;
    text-align: center;
   
    color: white;
    
}
#conteneur{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1150px;
    border: 3px solid green;    
}   
.element{
    background: rgba(236, 236, 236, 0.6);
    border-radius: 30px;
    height:500px;
}        
ul{
    list-style-type: none;
}
a{text-decoration:none; color: black}
a:hover{text-decoration: underline; font-size: 1.5em}
a:visited{color: maroon}
.ul1{    
font-size: 20px;

}
li{
    margin: 20px 20px 0px 0px;
}
.heure1{
    text-decoration: underline;
    font-weight: 600;
    font-size: x-large;
    line-height: 1em;
}

.colonne1{
    padding: 20px 10px 20px 10px;
    width: 200px;
}
#civilité{
    border: 10px solid blue;
    text-align: center;
    padding-right: 5vw;
    width: 20vw
}
#commentaires{
    border: 5px solid red;
    width: 20vw;
}
footer{

    border-radius: 30px;
    margin: auto;
    width: 1150px;
}
 
#logo{
    float: left;
    text-align: center;
    font-size: xx-large;
    padding-top: 35px;
    padding-left: 30px;
}
.underline{
    text-decoration:underline;
    font-size: 1.2em;
}
.margelogo{
    padding-left: 15px;
}
#conteneurfooter{
    display: flex;
    flex-direction: row;
    width: 1150px;
    background: rgba(236, 236, 236, 0.6);
    border-radius: 30px;
    margin-left: 1vw; 
    margin-top: 20px;
}  
#logo{
    font-size: large;
    text-align: center;
    margin-bottom: -50px;
} 

.element1{
    background: rgba(236, 236, 236, 0.6);
    border-radius: 30px;
    
    margin: auto;
}
#plan{
    background: rgba(236, 236, 236, 0.6);
    border-radius: 30px;
    margin-bottom:-30px;
    margin: auto;
}



 /* <<<<<<<<<<<--------    Fin de menuv2     -------->>>>>>>>>>>>>         */




    /* <<<<<<<<<<<--------    Fin de recettes     -------->>>>>>>>>>>>>         */


    
    
    
