body{
    background-image: url(image/background-tile.png) ;
    font-family: 'Pinyon Script', cursive;
    font-size: large;
    font-size: 1em;
    font-weight: 600;
    width: 1150px;    
}
#bloc_page{
    width: 1150px;
    font-weight: 600;
    font-size: 1.2em;
}


.img{
    width: 80%;
    height: auto;
    margin-left: 10vw;
}
h2{
    text-align: center;
    text-decoration: underline;
    font-size: 1.2em;
}
h1{ 
    position: relative;
    margin-bottom: -100px;
    margin-left:450px;
    margin-top: 0px;
    background-color: black;
    display: inline-block;
    padding: 10px 20px 50px 10px;
    font-size: x-large;
    text-align: center;
   
    color: white;
    
}
#conteneur{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1150px;
    
    
    
    
}   
.element{
    background: rgba(236, 236, 236, 0.6);
    border-radius: 30px;
    height:700px;
    margin: auto;
}
ul{
    list-style-type: none;
}
a{text-decoration:none; color: black}
a:hover{text-decoration: underline; font-size: 1.5em}
a:visited{color: maroon}
.ul1{    
font-size: 20px;

}
li{
    margin: 20px 20px 0px 0px;
}
.heure1{
    text-decoration: underline;
    font-weight: 600;
    font-size: x-large;
    line-height: 1em;
}

.colonne1{
    padding: 20px 10px 20px 10px;
    width: 200px;
}
.soutitre{
    text-decoration: none;
    font-size: 1.2em;
    line-height: 1em;
    width: 350px;
    
}
#centre{ 

    text-align: left;
    border-radius: 15px;
    
}
.img_flot{
    float: left; 
    margin-right: 10px;
}
.desssous{
    clear: both;
}
p[class="dessous"]{
    margin-top: -1em;
}
.jour{
    font-weight: bold;
    text-decoration: underline;
}
#colonne2{
    text-align: center;
    border-radius: 30px;
    font-weight: 600; 
    padding-top: 20px;
    text-align: justify;
    max-width: 300px;
    padding-left: 2.5vw;
}
footer{

    border-radius: 30px;
    margin: auto;
    width: 1150px;
}
 
#logo{
    float: left;
    text-align: center;
    font-size: xx-large;
    padding-top: 35px;
    padding-left: 30px;
}
.underline{
    text-decoration:underline;
    font-size: 1.2em;
}
.margelogo{
    padding-left: 15px;
}
#conteneurfooter{
    display: flex;
    flex-direction: row;
    width: 1150px;
    background: rgba(236, 236, 236, 0.6);
    border-radius: 30px;
    margin-left: 1vw; 
    margin-top: 20px;
}  
#logo{
    font-size: large;
    text-align: center;
    margin-bottom: -50px;
} 

.element1{
    background: rgba(236, 236, 236, 0.6);
    border-radius: 30px;
    
    margin: auto;
}
#plan{
    background: rgba(236, 236, 236, 0.6);
    border-radius: 30px;
    margin-bottom:-30px;
    margin: auto;
}

.element1:nth-child(1)
{
    text-align: center;
}

.element1:nth-child(2)
{
    align-self: flex-end;
}

.element1:nth-child(3)
{

}

 /* <<<<<<<<<<<--------    Fin de menuv2     -------->>>>>>>>>>>>>         */


#conteneurp2{

    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    
 }
.element2{
    background: rgba(236, 236, 236, 0.6);
    border-radius: 30px;
    margin-top: 50px;
    height: 1050px;
    padding-left:10px;
    margin:auto;
 }
aside{
    width: 380px;
    }

    /* <<<<<<<<<<<--------    Fin de recettes     -------->>>>>>>>>>>>>         */

    

    .nav{
        display: flex;
        justify-content: space-around;
        list-style: none;
        display: inline-block;
    }