@media all and (max-width: 480px){
    .img{display:none;} 
    header{font-size: 0.8em;}
    nav{ display: inline;font-size: 0.7em;}
    section{font-size: 0.8em;}
    .img_livredor{display: none;}
    #element_livre{display: flex; flex-direction: column; justify-content: center;flex-wrap: wrap;}
}
@media (min-width:601px) and (max-width: 768px){ 
    nav{font-size: 0.9em;}
    section{font-size: 1em;}
}

body{
    background-image: url(image/background-tile.png) ;
    font-family: 'Pinyon Script', cursive;
    font-size: 1.5em;
    font-weight: 600;
}
.img{
    width: 60vw;
    margin-left: 20vw;
    box-shadow: 15px 15px 10px black;
}
h1{ 
    margin:auto;
    margin-top: -50px;
    background-color: black;
    width: 60vw;
    padding: 50px 50px 10px 50px;
    font-size: 1.5em;
    text-align: center;
    color: white;
    box-shadow: 15px 15px 10px black;
}
h2{
    text-decoration: underline;
    text-align: center;
    margin-left: 5vw;
    margin-right: 5vw;
    margin:auto;
}
h3{
    margin-left: 1vw;
}
h4{
    text-align: center;
    text-decoration: underline;
}
.element{
    background: rgba(236, 236, 236, 0.6);
    border-radius: 20px;
    margin: auto;
    box-shadow: 15px 15px 10px black;
    
}
#element{
    background: rgba(236, 236, 236, 0.6);
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    box-shadow: 15px 15px 10px black;
    font-size: 1.2em;
    height:15vh; 
    list-style: none;  
    margin-bottom: 5vh;
}
a{
    text-decoration:none; color: black;
}
a:hover{
    text-decoration: underline; font-size: 1.3em
}
a:visited{
    color: black;
}
section{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
    margin:auto;
}
.img_flot{
    float: left; 
    margin: 1vh 1vw 1vh 1vw;
}
.jour{
    font-weight: bold;
    text-decoration: underline;
}
.element1{
    background: rgba(236, 236, 236, 0.6);
    border-radius: 20px;
    overflow: auto;
    box-shadow: 15px 15px 10px black;
    margin:auto;
    padding-left: 2vw; 
    padding-right: 2vw;
    margin-bottom:5vh;
}
.element2{
    background: rgba(236, 236, 236, 0.6);
    border-radius: 20px;
    margin: auto;
    padding-left: 2vw; 
    padding-right: 2vw;
    text-align: left;
    overflow: auto;
    box-shadow: 15px 15px 10px black;
    margin-bottom:5vh;
}
.chef{
    margin: auto;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin:auto;
}
.foot{
    list-style: none;
    font-size: 1em;
    margin: auto;
}

#map{
    padding: 2vh 2vw 2vh 2vw;
    background: rgba(236, 236, 236, 0.6);
    border-radius: 20px;    
}
.underline{
    text-decoration: underline;
    text-align: center;
    margin:auto;
}


        /*-----------------------Fin page d'acceuil --------------------------------------------------------------------------------*/

 /*---------------------Recettes------------------------------------*/
 
#navrecettes{
    width: 60vw;
    margin-left: 20vw;
    margin: auto;
}
.element_recettes{
    background: rgba(236, 236, 236, 0.6);
    border-radius: 20px;
    text-align: left;
    box-shadow: 15px 15px 10px black;
    padding: 0vh 2vw 2vh 2vw;
    margin: auto;
}
.element_ingred{
    background: rgba(236, 236, 236, 0.6);
    border-radius: 20px;
    margin: auto;
    text-align: left;
    box-shadow: 15px 15px 10px black;
    list-style: none;
    max-width: 500px;
   
}
 .img_recette{
    height: 60%;
    width: 60%;
 }
 .img_recette2{
    height: 30%;
    width: 30%;
 }
 #lien{
    color: maroon;
}
#mardi{
    padding-left: 3vw;
}
#mercredi{
    padding-left: 3vw;
}
#jeudi{
    padding-left: 3vw;
}
#vendredi{
    padding-left: 3vw;
}
#samedi{
    padding-left: 3vw;
}

 /*--------------------- Fin Recettes------------------------------------*/

 /*-------------------Contact--------------------------------------------------------------*/


 #element_form{
    display: flex;
    flex-direction: row;    
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: right;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
 }
 .commentaires{
     margin-top: 5vh;
     height: 65vh;
    padding: 0vh 5vw 0vh 5vw;
     margin: auto;
   
 }
 .civilite1{
     margin: auto;
     padding: 4vh 5vw 4vh 5vw
 }  
 textarea{
    
    height: 40vh;
    width:40vw
 }
 .submit{
    text-align: center;
    margin: auto;
    margin-top: 5vh;
}
input:focus, textarea:focus {
    background   : rgba(241, 228, 111, 0.966);
    box-shadow: 5px; 
    outline: 8px ridge rgba(106, 104, 107, 0.6);
}
 input:required:invalid {
    border-color: #c00000;
}
input:required:valid {
    border-color: #20ff0c;
}
 #contact{
    background: rgba(236, 236, 236, 0.6);
    border-radius: 20px;
    box-shadow: 15px 15px 10px black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom:5vh;
 }


 /*-------------------------------------Fin contact------------------------------------------*/

 /*----------------Livre d'or-----------------------------------*/
 

#element_livre{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: right;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

}
.textarea{
    text-align: left;
    height: 90vh;
    width: 45vw;
    padding-right: 2vw;
}
.img_livredor{
    float: left;
    height: 40%; 
    width: 40%;
    

} 
#avis{
    margin: 15vh 0vw 10vh;
}
    




